#page-home {
  .logo-big, .logo-medium, .logo-small {
    font-size: 72px;
    padding-right: 10px;
  }

  .badge {
    height: 90vh;
    h1 {
      border: 10px solid;
      padding: 10px;
      margin: 10px;
    }
  }

  @media (max-width: 600px) {
    .container {
      width: 100%;
    }
  }
}