@import (reference) "../common/colors.less";

#page-home {
  .container {
    height: 100vh;

    .logo {
      border: 15px solid;
      margin: 10px;
      padding: 20px;
      font-size: 96px;
      text-transform: uppercase;
      min-height: 190px;
      min-width: 200px;
    }
  }

  @media (max-width: 720px) {
    .container {
      width: 90%;

      .logo {
        border: 10px solid;
        font-size: 60px;
        padding: 10px;
        min-height: 110px;
        min-width: 120px;
      }
      .text {
        font-size: 16px;
      }
    }
  }
}