@import (reference) "../../less/common/mixin.less";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1, p {
  margin: 0;
}

md-grid-tile {
  .transition(all 400ms ease-out 50ms);
}

.center {
  margin: 0 auto;
}

.spacer {
  padding: 10px;
}

.page {
  width: 100%;
}

.container {
  width: 75%;
  .center;
}

.logo-big, .logo-medium, .logo-small {
  font-size: 72px;
  padding: 20px;
  text-transform: uppercase;
}

.logo-medium {
  font-size: 28px;
}

.logo-small {
  font-size: 18px;
}

#menu-bottom {
  width: 100%;
  position: fixed;
  bottom: 10px;
}