<menu-top></menu-top>

<div id="page-about" class="page" ng-cloak>
    <div class="container">
        <section>
            <h1>Profile</h1>
            <md-grid-list
                    class="grid-profile"
                    md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="3"
                    md-row-height-gt-md="1:1" md-row-height="2:1"
                    md-gutter="5px">
                <md-grid-tile class="color-2" md-rowspan="1" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1">
                    <p>Arthur <strong>Kusumadjaja</strong></p>
                </md-grid-tile>
                <md-grid-tile class="color-1" md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
                    <p>Full-time web <strong>developer</strong></p>
                </md-grid-tile>
                <md-grid-tile class="color-3">
                    <p><strong>Cinematography</strong> enthusiast</p>
                </md-grid-tile>
                <md-grid-tile class="color-4">
                    <p><strong>Photographer</strong> by heart</p>
                </md-grid-tile>
                <md-grid-tile class="color-5" md-rowspan="1" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1">
                    <p><strong>Melbourne</strong>, Australia</p>
                </md-grid-tile>
            </md-grid-list>
        </section>

        <section>
            <h1>Previous Projects</h1>
            <md-grid-list
                    class="grid-project"
                    md-cols-xs="1" md-cols-sm="2" md-cols-gt-sm="3"
                    md-row-height-gt-md="1:1" md-row-height="2:1"
                    md-gutter="5px">
                <md-grid-tile ng-repeat="p in portfolios"
                              class="primary-color-dark"
                              md-rowspan="1" md-colspan="3" md-colspan-sm="1" md-colspan-xs="1">
                    <ul>
                        <li class="title" ng-bind="p.title"></li>
                        <li class="subtitle" ng-bind="p.subtitle"></li>
                        <li class="content" ng-bind="p.content"></li>
                    </ul>
                </md-grid-tile>
            </md-grid-list>
        </section>

        <section class="enquiry">
            <h1>Further Enquiry
                <a aria-label="Email"
                   href="mailto:arthur.artsworks@gmail.com?subject=Enquiry%20and%20Project%20Opportunity">
                    <md-icon md-font-library="material-icons">mail</md-icon>
                </a>
            </h1>
        </section>
    </div>
</div>