<div id="page-contact" class="page">
  <div class="container" layout="column" layout-align="center center">
    <div layout="row" layout-align="center center">
      <h1 class="logo-medium">Contact</h1>
      <p flex>For further information regarding project opportunities or any enquiries</p>
    </div>
    <md-button class="md-raised md-48" aria-label="Email" href="mailto:arthur.artsworks@gmail.com?subject=Enquiry%20and%20Project%20Opportunity">
      <md-icon md-font-library="material-icons">mail</md-icon>
      <span>Email</span>
    </md-button>
  </div>
</div>