<div id="page-portfolio" class="page">
  <div class="spacer"></div>
  <div class="container" layout="row" layout-align="center center">
    <h1 class="logo-medium">Portfolio</h1>
    <p flex>Several websites that I have been working on along the way on the front-end web development world.</p>
  </div>
  <div class="spacer"></div>

  <div layout-align="center center" ng-cloak>
    <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
        md-row-height-gt-xs="2:3" md-row-height-xs="1:1"
        md-gutter="12px" md-gutter-gt-sm="8px" class="container" layout-align="center center">
      <md-grid-tile ng-repeat="p in portfolios" md-colspan="1" md-colspan-gt-xs="2">
        <md-card>
          <md-card-header>
            <md-card-avatar>
              <img class="md-user-avatar" src="{{p.avatar}}">
            </md-card-avatar>
            <md-card-header-text>
              <span class="md-title" ng-bind="p.title"></span>
              <span class="md-subhead" ng-bind="p.subtitle"></span>
            </md-card-header-text>
            <md-card-title-media>
              <div class="md-media-sm card-media">
                <img ng-src="{{p.thumb}}">
              </div>
            </md-card-title-media>
          </md-card-header>
          <md-card-content>
            <p ng-bind="p.content"></p>
          </md-card-content>
          <md-button ng-href="{{p.url}}" layout="row" layout-align="center end">
            <md-icon md-font-library="material-icons">input</md-icon>
            <md-tooltip md-direction="top">Go to webpage</md-tooltip>
          </md-button>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>